.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #333232;
  margin-bottom: 3em;
  height: 50px;
}
.header-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container button {
  background-color: #646cff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: all 0.3 ease-in;
}
.header-container button:hover {
  color: #646cff;
  background-color: #ffffff;
}
.question-togglers {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}
.main {
  display: flex;
  max-width: 1800px;
  margin: 0 auto;
}
.editor-area {
  width: 100%;
  display: flex;
}
.editor-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #333232;
  padding: 5px;
  gap: 5px;
}
.editor-header span.material-symbols-outlined {
  font-size: 40px !important;
}
.editor-header span {
  font-size: 0.8em;
  font-weight: 600;
}
/* loading screen */
.sandbox-container{
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

.task-details-container {
  min-width: 300px;
}
/* submitted styles */
.submitted-container{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.submitted-container div{
  display: flex;
  flex-direction: column;
  align-items:center ;
  gap:1em;
  padding: 1em;
  text-align: center;
}
.submitted-container div span{
  font-size: 3rem;
  color: #646cff;
}