.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 3em;
  height: 50px;
}
.header-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container button {
  background-color: var(--primary);
  border-radius:  var(--border-radius-default);
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: all 0.3 ease-in;
}
.header-container button:hover {
  color: var(--primary-hover);
  background-color: #ffffff;
}
.question-togglers {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}
.main {
  display: grid;
  grid-template-columns: 20% 4fr;
  max-width: 1800px;
  margin: 0 auto;
}
.main > * {
  border: 1px solid var(--border-color);
  border-right: none;
  max-width: unset !important;
}

.main > div button {
  border: unset;
  padding: unset;
  font-size: unset;
  font-weight: unset;
  font-family: unset;
  cursor:pointer;
  transition: unset;
  background-color: unset;
  color: unset;
  border-radius: unset;
}

/* loading screen */
.sandbox-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

/* submitted styles */
.submitted-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.submitted-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  text-align: center;
}
.submitted-container div span {
  font-size: 3rem;
  color: var(--primary);
}
