.page {
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  padding-top: 3em;
}
.card {
  all: unset;
  display: block;
  margin: 20px 0;
  padding: 20px;
  border: 0.5px solid var(--border-color);
  transition: all 0.3s ease-in-out;
  width: -webkit-fill-available;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pending {
  color: #f0ad4e;
  padding: 0.6rem;
  border-radius:  var(--border-radius-default);
  background-color: #464444;
}
.filters{
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border: 2px soldi red;
}
.tabs {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.tabs button {
  border-radius:  var(--border-radius-default);
  cursor: pointer;
  text-transform: capitalize;
}
.tabs button.active {
  background-color: #464444;
}
.tabs button:hover {
  background-color: #292828;
}
.date-filters{
  display: flex;
  align-items: center;
  gap: .5em;
}
.filter-btn-date{
 background-color: transparent;
 color: var(--text-color);
 padding: 1px;
border: none;
}
.filter-btn-date:hover{
  background-color: transparent;
  color: var(--filter-btn-hover);
  border:0px solid transparent;
}
/* loading */
.cards {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}
.filter-btn-loading {
  padding: 0.6em 1.2em;
}
