.form-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100dvh - 91px);
  height: calc(100dvh - 91px);
  height: calc(100vh - 91px);
  height: calc(100vh - 91px);
}
.form-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}
.form-container {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  border: 1px solid lightslategray;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.form form label {
  margin-bottom: 0.5rem;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.toggle-show-password {
  position: relative;
  display: flex;
  flex-direction: column;
}
.toggle-show-password button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
}
.form-container form input {
  padding: 0.8rem;
  border: 1px solid lightslategray;
  outline: none;
  font-size: medium;
}
.form-container form input[aria-invalid="true"] {
  border: 1px solid rgb(173, 67, 67);
}
.form-container form input:focus {
  border: 1px solid #646cff;
}
.form-container form button[type="submit"] {
  padding: 0.8rem;
  border: 1px solid #646cff;
  outline: none;
  background-color: #646cff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: larger;
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.form-container form button[type="submit"] span {
  animation: loading 250ms infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form-container form button:disabled {
  background-color: #ccc;
  border: 1px solid #ccc;
  color: #000;
  cursor: not-allowed;
}
.form-container form button[type="submit"]:hover {
  background-color: #4d53ca;
}
.form-container form button[type="submit"]:focus {
  outline: 2px solid white;
}

.form-container form button:disabled:hover {
  background-color: #ccc;
}

.server-error{
  color:  red;
  font-size: 1rem;
  text-align: center;
}
.server-error p{
  margin-top: 0;
}