.container {
  border-bottom: 1px solid var(--border-color);
}
.container .layout {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  max-width: 1200px;
  margin-inline: auto;
}
.container a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
h1 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
.right {
  display: flex;
  align-items: center;
  gap: 1em;
}
.logout-btn {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: var(--border-radius-default);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  transition: all 0.25s ease-in-out;
  width: 100%;
}
.logout-btn:hover {
  background-color: var(--primary-hover);
}
.dropdown {
  position: relative;
  text-align: start;
  background-color: transparent;
}
.dropdown-content {
  position: absolute;
  min-width: 150px;
  background-color: #fff;
  padding: 1em;
  z-index: 1;
  box-shadow: var(--box-shadow);
  right:calc(100% - 57px);
  border-radius:  var(--border-radius-default);
  top:110%;
}
.user-details {
 border-bottom: 1px solid var(--border-color);
 margin-bottom: 1em;
  padding-bottom: 1em;
}
.user-details .name{
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.user-details .email{
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: var(--muted-color);
}
.assignment-btn{
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius:  var(--border-radius-default);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  transition: all 0.25s ease-in-out;
  width: 100%;
  position: relative;
}
.assignment-btn:hover {
  background-color: var(--primary-hover);
}
.assignment-question-count{
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--primary);
  color: white;
  border-radius:  var(--border-radius-default);
  padding: 0.25em 0.5em;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
}