.questions-page {
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  padding-top: 3em;
}

.question {
  all: unset;
  display: block;
  margin: 20px 0;
  padding: 20px;
  border: .5px solid #464444;
  transition: all 0.3s ease-in-out;
  width: -webkit-fill-available;
  border-radius: 4px;
}
.question:hover {
  cursor: pointer;
  background-color: #292828;
}
.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-header button {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-header button:hover {
  cursor: pointer;
}
.question-header button:focus {
  outline: none;
}
span[datatype="highlighted"] {
  color: plum;
}
.filters {
  display: flex;
  align-items: center;
  gap: 1em;
}
.filters strong{
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.filter-btn-container {
  display: flex;
  align-items: center;
  gap: 1em;
}
.filter-btn {
  border: 2px solid plum;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: all .25s ease-in-out;
  text-align: center;
}
.reset-filter-btn {
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 49px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  transition: all 0.25s ease-in-out;
  border: 2px solid transparent;
}
.reset-filter-btn:hover {
  border: 2px solid #4d53ca;
}
.filter-btn::after {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: transparent;
  border-radius: 50%;
}
.filter-active {
  background-color: #4d53ca;
}
.filter-active::after {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: white;
  border-radius: 50%;
}
.question h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  margin-top: 1em;
}
.question ul {
  margin: 0;
  padding: 0;
}
.question li {
  padding: 0;
  width: fit-content;
  margin-left: 1.5rem;
}

.question-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
.question-footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: 4px;
}
ul{
    list-style: none;
  padding-inline-start: 0;
}
/* question difficult styles */ 
.question-level {
  font-size: 12px;
  color: #999;
  border: 2px solid transparent;
  padding: 0.5em;
  border-radius: 4px;
}
.Beginner{
    border-color: #4caf50;
}
.Intermediate{
    border-color: #ff9800;
  
}
.Advanced{
    border-color: #f44336;
}
.file-preview{
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: min-content 1fr; 
  grid-template-rows: 1fr; 
  min-height: 400px;
  grid-template-areas: 
    "files content"; 
}
.question-files{
  grid-area: files;
  display: flex;
}
.question-file-contents{
  grid-area: content; 
  height: 100%;
  width: -webkit-fill-available;
  display:flex;
}
#code-preview{
  width: 100%;
  width: -webkit-fill-available;
}

